.component--text_content{
    // Single text block 
    .single{
        .text-block:not(:last-child){
            margin-bottom: var(--space-sm);
        }
    }

    .grid{
        img{
            text-align: center;
            max-width: 100%;
            display: block;
            margin: auto;
        }

        /*@include breakpoint('max-width', $mobile, 'px'){
            .text-block:not(:last-child){
                margin-bottom: var(--space-sm);
            }
        }*/
    }
}