@use "@/sass/abstracts" as *;

.component--collection_grid {
    .collection-loader {
        display: block;
        left: calc(50% - 35px);
        bottom: 40px;
        @include transform(translate3d(0, 40px, 0));
        opacity: 0;
        position: fixed;
        z-index: 999;
        pointer-events: none;
        background-color: var(--light);
        border-radius: 50%;
        box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.32);
        -webkit-box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.32);
        transition: all 200ms var(--transition-fast);

        svg {
            @include transform(scale(0.8));
            width: 70px;
            height: 70px;
        }

        // Loader is visible in the page
        &.visible {
            opacity: 1;
            @include transform(translate3d(0, 0, 0));
        }
    }
}