@use "@/sass/abstracts" as *;

.component--iframe{
    .iframe{
        overflow: hidden;
        iframe{
            border:none;
            width: 100%;
            height: 50vw;
            @include breakpoint('max-width', $tablet, 'px'){
                height: 70vh;
            }
        
        }
    }   
}