@use "@/sass/abstracts" as *;


// Group partner logo
.partners-wrapper{
    .grid{
        .grid-item{
            border-radius: 4px;
            aspect-ratio: 2/1;
            display: flex;
            @include breakpoint('max-width', $mobile, 'px'){
                display: flex;
                justify-content: center;
                a{
                   
                    img{
                        object-fit: contain;
                        max-height: 150px;
                        max-width: 300px;
                    }
                }
            }
        }
    }
}
// Single partner logo
.partner{
    transition: all 450ms var(--transition-basic);
   
    //opacity: 0.7;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    &--grayscale{
        filter: grayscale(1);
    }
    a{
        height: 100%;
        padding: 20px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        img{
            width: 60%;
        }
    }
    
    @include hover(){
        filter: grayscale(0);
        opacity: 1;
    }

    @media screen and (min-width: 400px) {
        width: 160px;
        a{
            padding: 30px;
            img{
                width: 100%;
            }
        }
        @media screen and (min-width: 820px) {
           
            &--size-sm{
                width: 160px;
                height: 100px;
            }
            &--size-base{
                width: 200px;
                height: 120px;
            }
            &--size-lg{
                width: 230px;
                height: 140px;
            }
            &--size-xl{
                width: 260px;
                height: 160px;
            }
        }
    }
    
}