@use "@/sass/abstracts" as *;

.tag {
    display: inline-flex;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    svg{
        width: 18px;
    }
    &--small {
        padding: 5px 15px;
    }

    
    
    &.active {
        background-color: var(--primary);
        color: var(--primary-text-foreground);
    }

    
    @include hover() {
        &:not(.active) {
            &.tag--primary{
                background-color: var(--primary-600);
                color: var(--primary-text-foreground);
            }
            &.tag--secondary{
                background-color: var(--secondary-600);
                color: var(--secondary-text-foreground);
            }
            &.tag--accent{
                background-color: var(--accent-600);
                color: var(--accent-text-foreground);
            }
        }
    }
}


.tag-link {
    //border: solid 1px;
    border-radius: 4px;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
    transition: all 300ms var(--transition-basic);
    &__tag{
        padding: 2px 10px;
        border-radius: 4px;
    }
    &__link{
        gap: 5px
    }   
    &:hover{
        background-color: var(--gray-50);
    }
        
}
