@use "@/sass/abstracts" as *;

.newsletter{
    // Newsletter form
    position: relative;
    padding: var(--space-lg) 0;
    
    &__content{
        max-width: 530px;
        position: relative;
        z-index: 1;
        .form{
            .field{
                flex-basis: calc(50% - 10px);
                &:last-of-type{ 
                    flex-basis: 100%;
                }
                @include breakpoint('max-width', $mobile, 'px'){    
                    flex-basis: 100%
                }
            }
        }
    }
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include breakpoint('max-width', $tablet, 'px'){    
        padding: var(--space-sm) 0;
    }
}