@use "sass:math";
@use "variables" as *;

/**
* Mixin scss/css file
**/
// Px to Em Functions

@function em($pixels, $context: $browser-context) {
  @return #{calc($pixels / $context)}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{calc($pixels / $context)}rem;
}

// Function for converting a px based font-size to rem.
@function calculaterem($size) {
    $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
  }



// source: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
// convert to rem
$clampMin: 360;
$clampMaX: 1440;
@function bcl($minSize, $maxSize, $minWidth: $clampMin, $maxWidth: $clampMaX) {


    $minSize: math.div($minSize, 16);
    $maxSize: math.div($maxSize, 16);
    $maxWidth: math.div($maxWidth, 16);
    $minWidth: math.div($minWidth, 16);
    // do calculations
    $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxisIntersection: -$minWidth * $slope + $minSize;
    // output as rem
    $minSize: $minSize * 1rem;
    $maxSize: $maxSize * 1rem;

    @return clamp(
        #{$minSize},
        #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
        #{$maxSize}
    );
}


@function bm($minSize, $maxSize, $minWidth: $clampMin, $maxWidth: $clampMaX) {
  $minSize: math.div($minSize, 16);
  $maxSize: math.div($maxSize, 16);
  $maxWidth: math.div($maxWidth, 16);
  $minWidth: math.div($minWidth, 16);

  // do calculations
                // (200 - 100) / (1440 - 360)
  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;
  // output as rem
  $minSize: $minSize * 1rem;
  $maxSize: $maxSize * 1rem;

  @return max(
      #{$minSize},
      #{$yAxisIntersection * 1rem} + #{$slope * 100vw}
  );
}

@function bm2($minSize, $maxSize, $minWidth: $clampMin, $maxWidth: $clampMaX) {
  $minSize: math.div($minSize, 16);
  $maxSize: math.div($maxSize, 16);
  $maxWidth: math.div($maxWidth, 16);
  $minWidth: math.div($minWidth, 16);

  // do calculations
  // (200 - 100) / (1440 - 360)
  //$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  //$yAxisIntersection: -$minWidth * $slope + $minSize;
  // output as rem
 
  //$maxSize: $maxSize * 1rem;

  $value: math.div($maxSize * 100, $maxWidth);
  $value: $value * 1vw;
  $minSize: $minSize * 1rem;
  @return max(
      #{$minSize},
      #{$value}
  );
}

@function vw($px-vw, $base-vw: 1440){
  @return calc(calc($px-vw * 100vw) / $base-vw);
}

@function sliderNavWidth() {
  @return bm($slider-nav-width-min, $slider-nav-width-max);
}