@use "@/sass/abstracts" as *;

.btn,
button {
    --button-background: var(--accent);
    --button-foreground: var(--accent-text-foreground);

    border-radius: 2px;
    padding: 12px 30px;
    border: none;
    text-decoration: none;
    background-color: var(--button-background);
    color: var(--button-foreground);
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    transition: all 300ms var(--transition-basic);
    justify-content: center;

    .icon {
        max-width: 20px;
        max-height: 20px;
        display: flex;
        align-items: center;
    }

    &--small {
        padding: 10px 20px;
    }

    &--icon {
        width: 46px;
        height: 46px;
        padding: 0px;
    }
    $shades: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950;

    @each $theme in ("primary", "secondary", "accent", "gray", "light", "dark"){
        &--#{$theme} {
            --button-background: var(--#{$theme});
            --button-foreground: var(--#{$theme}-text-foreground);
    
            @each $shade in $shades{
                &-#{$shade}{
                    --button-background: var(--#{$theme}-#{$shade});
                    --button-foreground: var(--#{$theme}-#{$shade}-text-foreground);
                }
            }
        }
    }

    &--outline {
        background-color: transparent !important;
        border: solid 1px var(--button-background);
        color:  var(--button-background);
        padding: 11px 29px;
    }

    &--disable {
        opacity: 0.5 !important;
        cursor: no-drop;
    }

    &--loading {
        color: transparent;
        position: relative;
        transition: none;

        .spinner {
            @include center();

            svg {
                width: 20px;
                circle {
                    stroke: var(--button-foreground);
                }
            }
        }
    }

    &--transparent {
        background-color: transparent;
    }
    &--ghost{
        background-color: transparent;
        padding: 12px 20px;

        @include hover() {
             --button-foreground: var(--accent);
        }
    }


    @include hover() {
        --button-background: var(--accent-600);
    }
}