@use "@/sass/abstracts" as *;
/*
.pagination {
   
    margin-bottom: 0;
    background-color: red;
    padding: 10px;
    margin-top: 20px;
    &__arrow {
        display: flex;
        align-items: center;

        transition: all 300ms var(--transition-basic);
        cursor: pointer;

        svg {
            width: 15px;
            height: 15px;

            circle {
                fill: transparent;
            }

            path {
                fill: var(--secondary);
            }
        }

        // Disable the arrow because first or last
        &.disable {
            opacity: 0.5;
            cursor: no-drop;
        }

        @include hover() {
            &:not(.disable) {
                @include transform(scale(1.3));
            }
        }
    }

    &__pages {
        margin: 0 (var(--space-sm) - 5px);

        .page-list {
            display: flex;

            .page {
                margin: 0 5px;
                cursor: pointer;

                a,
                span {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    text-decoration: none;
                    color: var(--dark);
                    z-index: 2;
                    transition: all 300ms var(--transition-basic);

                    @include hover() {
                        @include transform(scale(1.1));
                    }
                }

                &.is-current {

                    a,
                    span {
                        font-weight: bold;
                        color: var(--secondary);
                    }
                }
            }
        }
    }

    @include breakpoint('max-width', $mobile, 'px') {
        justify-content: space-between !important;
    }
}*/