@use "@/sass/abstracts" as *;

.popups {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 200;
    top: 0;
    left: 0;
    pointer-events: none;

    .popup {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        pointer-events: none;

        &__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transition: 300ms ease-out;
            background-color: transparent;
        }

        &__content {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;

            .content-wrapper {
                position: relative;
                margin: var(--space-sm);
                transition: all 600ms var(--transition-basic);
                opacity: 0;
                //@include transform(translate3d(0, 40px, 0));
            }

            .content {
                position: relative;
                z-index: 10;
                overflow: hidden;
                max-width: 900px;
                //border-radius: 5px;
                display: flex;

                .image-content {
                    width: 35%;
                    object-fit: cover;
                }

                .text-content {
                    padding: var(--space-md);
                    .text-block{
                        width: 100%;
                    };
                }
            }
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 20;
        }

        &--drawer{
            
            .popup__content{
                justify-content: flex-end;
                .content-wrapper{
                    max-width: 900px;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    .image-content{
                        width: 100%;
                        padding: bm(20, 40);
                        aspect-ratio: 2/1;
                    }
                    .popup__close{
                        //border-radius: 0 0 0 5px;
                    }
                    .content{
                        flex-direction: column;
                        height: 100dvh;
                        overflow: auto;
                        //border-radius: 5px 0 0 5px;
                    }
                }
            }
        }

        &.is-loaded {
            pointer-events: visible;
            .popup__content {
                .content-wrapper {
                    opacity: 1;
                }
            }
            .popup__overlay {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }



    @include breakpoint('max-width', $mobile, 'px') {
        .popup {
            &__content {
                align-items: flex-end;

                .content-wrapper {
                    margin: 0;

                }

                .content {
                    display: block;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;

                    .image-content {
                        width: 100%;
                    }

                    .text-content {
                        padding: var(--space-sm);
                    }
                }
            }
        }
    }
}