@use "@/sass/abstracts" as *;

.tabs {

    .tab {
        // Tabs default color
        --tab-foreground: var(--secondary-text-foreground);
        --tab-background: transparent;
        --tab-foreground-on: var(--secondary-text-foreground);
        --tab-background-on: transparent;
        border-top: solid 1px rgba(0, 0, 0, 0.2);
        &:last-child {
            border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        }
        &__toggle {
            padding: var(--space-sm) 0px;
            width: 100%;
            cursor: pointer;
            background-color: var(--tab-background);
            
            color: var(--tab-foreground);

            @include hover() {
                color: var(--accent);
            }
            .text-block {
                width: 90%;
            }

            .plus {
                .line {
                    width: 16px;
                    height: 2px;
                    display: block;
                    background-color: var(--tab-foreground);

                    &:last-child {
                        @include transform(translateY(-2px) rotate(-90deg));
                    }
                }
            }
        }

        &__content {
            height: 0;
            overflow: hidden;
            background-color:var(--tab-background-on);
            color: var(--tab-foreground-on);
            transition: all 300ms ease-out;

            .box {
                padding: 10px 0 20px 0px;
                opacity: 0.7;
            }
        }

        // Tabs is currently active 
        &.is-open {
            .tab__toggle {
                background-color:var(--tab-background-on);
                color: var(--tab-foreground-on);
                border-bottom-color: rgba(250, 250, 250, 0.2);

                .plus {
                    .line {
                        background-color: var(--tab-foreground-on);

                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
        &--primary{
            --tab-foreground: var(--primary-text-foreground);
            --tab-background: var(--primary);
            --tab-foreground-on: var(--primary-text-foreground);
            --tab-background-on: var(--primary-600);
        }
        &--secondary{
            --tab-foreground: var(--secondary-text-foreground);
            --tab-background: var(--secondary);
            --tab-foreground-on: var(--secondary-text-foreground);
            --tab-background-on: var(--secondary-400);
        }
        &--accent{
            --tab-foreground: var(--accent-text-foreground);
            --tab-background: var(--accent);
            --tab-foreground-on: var(--accent-text-foreground);
            --tab-background-on: var(--accent-600);
        }
        &--gray{
            --tab-foreground: var(--gray-900);
            --tab-background: var(--gray);
            --tab-foreground-on:  var(--gray-900);
            --tab-background-on:  var(--gray-200);
        }
        @include breakpoint('max-width', $tablet, 'px') {
            &__toggle {
                padding: var(--space-sm);
            }

            &__content {

                .box {
                    padding: var(--space-sm);
                }
            }
        }
    }

    &__no-content {
        text-align: center;
    }
}