@use "@/sass/abstracts" as *;

.video {
    position: relative;
    overflow: hidden;

    &__placeholder {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: var(--dark);
        transition: all 600ms var(--transition-basic);

        .play {
            @include center();
            z-index: 10;
            width: 100px;
            height: 100px;
            background-color: var(--accent);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            @include shadow(0px 0px 32px -6px rgba(0, 0, 0, 0.32));
            transition: all 300ms var(--transition-basic);

            svg {
                width: 20px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 300ms var(--transition-basic);
        }
    }

    video{
        width: 100%;
    }
    iframe {
        height: calc((100vw - 160px) * (9/16));
        max-height: 650px;
        width: 100%;
        object-fit: cover;
        border-style: unset;

        @include breakpoint('max-width', $mobile, 'px') {
            height: calc((100vw - 75px) * (9/16));
        }
    }


    &.is-hovered {
        .video__placeholder {
            .play {
                @include shadow(0px 0px 15px -4px rgba(0, 0, 0, 0.32));
                background-color: var(--accent);
                width: 90px;
                height: 90px;
            }

            img {
                @include transform(scale(1.02));
                opacity: 0.7;
            }
        }
    }

    &.is-playing {
        .video__placeholder {
            opacity: 0 !important;
            pointer-events: none;
        }
    }
}