@use "@/sass/abstracts" as *;

.hero-slider{
    .slider{
        .slide{
            position: relative;
            min-height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
    
            &__content{
                position: relative;
                z-index: 1;
                text-align: center;
            }
            // Position Background image
            &__image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @include breakpoint('max-width', $mobile, 'px'){
                
                min-height: 85vh;
                &__content{
                    text-align: left;
                }
   
            }
        }
        .slider-navigation{
            position: absolute;
            bottom: var(--space-sm);
            z-index: 2;
        }
    }
   

}