@use "./config" as *;
@use "sass:math";
// Définition des tailles de conteneurs pour différentes résolutions
$container-sizes: (
    xs: 400, // Taille de conteneur pour très petit écran
    sm: 600, // Taille de conteneur pour petit écran
    md: 820, // Taille de conteneur pour écran moyen
    lg: 1024, // Taille de conteneur pour grand écran
    xl: 1280, // Taille de conteneur pour très grand écran
    2xl: 1440, // Taille de conteneur pour écran extra large
    3xl: 1920, // Taille de conteneur pour écran ultra large
);


// Styles de base pour les conteneurs
.container {
    margin: auto; // Centrer horizontalement le conteneur
    @each $size, $value in $container-sizes {
        // Génération des classes pour chaque taille de conteneur
        &-#{$size} {
            width: 100%;
            // @THEME-MG SET Pourcentage
            $percent: math.div($value, 1920) * 100;
            max-width:  max(#{$value}px, #{$percent}vw);
            margin: auto; // Centrer horizontalement
        }
    }
}


// Génération des classes responsives basées sur les points de rupture
@each $breakpoint, $breakpoint-value in $breakpoints {
    // Classe de conteneur pour chaque point de rupture
    .#{$breakpoint}_container {
        margin: auto; // Centrer horizontalement
    }
    @each $size, $value in $container-sizes {
        @media screen and (min-width: $breakpoint-value) {
            // Génération des classes de conteneur spécifiques à chaque taille et point de rupture
            .#{$breakpoint}_container-#{$size} {
                max-width: #{$value}px; // Définir la largeur maximale du conteneur
                margin: auto; // Centrer horizontalement
            }
        }
    }
}
