@use "./config" as *;
@use "@/sass/abstracts" as *;

// Définition des tailles d'espacement (gap) pour la grille
$gap-sizes: (
    none: 0,
    xs: bm(10, 10),
    sm: bm(20, 20),
    md: bm(30, 40),
    lg: bm(40, 80),
    xl: bm(60, 100),
    "2xl": bm(100, 200),
    "3xl": bm(120, 240)
);

// Génération des classes pour les gaps (espacement entre les éléments)
@each $size, $value in $gap-sizes {
    .gap-#{$size} {
        gap: $value; // Espacement global
    }
    .gap-y-#{$size} {
        row-gap: $value; // Espacement vertical
    }
    .gap-x-#{$size} {
        column-gap: $value; // Espacement horizontal
    }   
}
@each $size, $value in $gap-sizes {
 @each $breakpoint, $breakpoint-value in $breakpoints {
        @media screen and (min-width: $breakpoint-value) {
            .#{$breakpoint}_gap-#{$size} {
                gap: $value;
            }
            .#{$breakpoint}_gap-x-#{$size} {
                row-gap: $value;
            }
            .#{$breakpoint}_gap-#{$size} {
                column-gap: $value;
            }
        }
    }
}

// Définition de la grille principale
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr)); // 12 colonnes par défaut
}
// Génération des classes pour définir le nombre de colonnes et de lignes
@for $i from 1 through 12 {
    .grid-cols-#{$i} {
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr)); // Colonnes dynamiques
    }

    .grid-rows-#{$i} {
        grid-template-rows: repeat(#{$i}, minmax(0, 1fr)); // Lignes dynamiques
    }
}


  // Ajout des variantes responsives pour chaque point de rupture
  @each $breakpoint, $breakpoint-value in $breakpoints {
    @media screen and (min-width: $breakpoint-value) {
        @for $i from 1 through 12 {
            .#{$breakpoint}_grid-cols-#{$i} {
                grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
            }
    
            .#{$breakpoint}_grid-rows-#{$i} {
                grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
            }
        }

    }
}

// Génération des classes pour la largeur des colonnes (col-span)
@for $i from 1 through 12 {
    .col-span-#{$i} {
        grid-column: span #{$i}; // Étendue de la colonne
    }
}

@each $breakpoint, $breakpoint-value in $breakpoints {
    @for $i from 1 through 12 {
        @media screen and (min-width: $breakpoint-value) {
            .#{$breakpoint}_col-span-full {
                grid-column: span 12; // Étendue complète
            }
            .#{$breakpoint}_col-span-#{$i} {
                grid-column: span #{$i};
            }
        }
    }
}


// Génération des classes pour la hauteur des lignes (row-span)
@for $i from 1 through 12 {
    .row-span-#{$i} {
        grid-row: span #{$i}; // Étendue de la ligne
    }
}

@each $breakpoint, $breakpoint-value in $breakpoints {
    @for $i from 1 through 12 {
        @media screen and (min-width: $breakpoint-value) {
            .#{$breakpoint}_row-span-full {
                grid-row: span 12; // Étendue complète
            }
            .#{$breakpoint}_row-span-#{$i} {
                grid-row: span #{$i};
            }
        }
    }
}




.masonry { /* Masonry container */

    column-count: 2;    
    column-gap: 1.5em;


    &--3{
        -webkit-column-count: 3;
        -moz-column-count:3;
        column-count: 3;
        @include breakpoint('max-width', $tablet, 'px') {
            -webkit-column-count: 2;
            -moz-column-count:2;
            column-count: 2;
        }
    }
    &--2{
        -webkit-column-count: 2;
        -moz-column-count:2;
        column-count: 2;
    }
    &--4{
        -webkit-column-count: 4;
        -moz-column-count:4;
        column-count: 4;
        @include breakpoint('max-width', $largeTablet, 'px') {
            -webkit-column-count: 3;
            -moz-column-count:3;
            column-count: 3;
            @include breakpoint('max-width', $tablet, 'px') {
                -webkit-column-count: 2;
                -moz-column-count:2;
                column-count: 2;
            }
        }
    }


    .asset{
        display: inline-block;
        position: relative;
        background-color: var(--dark);
        margin: 0 0 1.5em;
        width: 100%;
        transition: all 300ms var(--transition-basic);
        img{
            max-width:100%;
        }
        // The asset is a link for the slider
        &--link {
            cursor: pointer;
            overflow: hidden;

            img {
                transition: all 300ms var(--transition-basic);
            }

            .open-icon {
                z-index: 1;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: var(--space-sm);
                opacity: 0;
                transition: all 300ms ease-out;
                @include transform(scale(0.5) rotate(-1deg));
            }

            @include hover() {
                img {
                    opacity: 0.8;
                    @include transform(scale(1.05));
                }

                .open-icon {
                    opacity: 1;
                    @include transform(scale(1) rotate(-1deg));
                }
            }
        }
    }
}