:root{
   --primary: #212121;
   --primary-500: #212121;
   --primary-text-foreground: #ffffff;
   --primary-500-text-foreground: #ffffff;
   --primary-600: rgb(26, 26, 26);
   --primary-600-text-foreground: #ffffff;
   --primary-700: rgb(20, 20, 20);
   --primary-700-text-foreground: #ffffff;
   --primary-800: rgb(13, 13, 13);
   --primary-800-text-foreground: #ffffff;
   --primary-900: rgb(7, 7, 7);
   --primary-900-text-foreground: #ffffff;
   --primary-950: rgb(3, 3, 3);
   --primary-950-text-foreground: #ffffff;
   --primary-50: rgb(122, 122, 122);
   --primary-50-text-foreground: black;
   --primary-100: rgb(112, 112, 112);
   --primary-100-text-foreground: black;
   --primary-200: rgb(92, 92, 92);
   --primary-200-text-foreground: black;
   --primary-300: rgb(73, 73, 73);
   --primary-300-text-foreground: #ffffff;
   --primary-400: rgb(53, 53, 53);
   --primary-400-text-foreground: #ffffff;

   --secondary: #ffffff;
   --secondary-500: #ffffff;
   --secondary-text-foreground: #000000;
   --secondary-500-text-foreground: #000000;
   --secondary-600: rgb(238, 238, 238);
   --secondary-600-text-foreground: #000000;
   --secondary-700: rgb(221, 221, 221);
   --secondary-700-text-foreground: #000000;
   --secondary-800: rgb(204, 204, 204);
   --secondary-800-text-foreground: white;
   --secondary-900: rgb(187, 187, 187);
   --secondary-900-text-foreground: white;
   --secondary-950: rgb(179, 179, 179);
   --secondary-950-text-foreground: white;
   --secondary-50: rgb(255, 255, 255);
   --secondary-50-text-foreground: #000000;
   --secondary-100: rgb(255, 255, 255);
   --secondary-100-text-foreground: #000000;
   --secondary-200: rgb(255, 255, 255);
   --secondary-200-text-foreground: #000000;
   --secondary-300: rgb(255, 255, 255);
   --secondary-300-text-foreground: #000000;
   --secondary-400: rgb(255, 255, 255);
   --secondary-400-text-foreground: #000000;

   --accent: #F53003;
   --accent-500: #F53003;
   --accent-text-foreground: #ffffff;
   --accent-500-text-foreground: #ffffff;
   --accent-600: rgb(212, 42, 3);
   --accent-600-text-foreground: #ffffff;
   --accent-700: rgb(180, 35, 2);
   --accent-700-text-foreground: #ffffff;
   --accent-800: rgb(147, 29, 2);
   --accent-800-text-foreground: #ffffff;
   --accent-900: rgb(114, 22, 1);
   --accent-900-text-foreground: #ffffff;
   --accent-950: rgb(98, 19, 1);
   --accent-950-text-foreground: #ffffff;
   --accent-50: rgb(255, 91, 6);
   --accent-50-text-foreground: black;
   --accent-100: rgb(255, 86, 5);
   --accent-100-text-foreground: black;
   --accent-200: rgb(255, 77, 5);
   --accent-200-text-foreground: black;
   --accent-300: rgb(255, 67, 4);
   --accent-300-text-foreground: black;
   --accent-400: rgb(255, 58, 4);
   --accent-400-text-foreground: black;

   --gray: #808080;
   --gray-500: #808080;
   --gray-text-foreground: #ffffff;
   --gray-500-text-foreground: #ffffff;
   --gray-600: rgb(100, 100, 100);
   --gray-600-text-foreground: #ffffff;
   --gray-700: rgb(71, 71, 71);
   --gray-700-text-foreground: #ffffff;
   --gray-800: rgb(43, 43, 43);
   --gray-800-text-foreground: #ffffff;
   --gray-900: rgb(14, 14, 14);
   --gray-900-text-foreground: #ffffff;
   --gray-950: rgb(0, 0, 0);
   --gray-950-text-foreground: #ffffff;
   --gray-50: rgb(243, 243, 243);
   --gray-50-text-foreground: black;
   --gray-100: rgb(230, 230, 230);
   --gray-100-text-foreground: black;
   --gray-200: rgb(205, 205, 205);
   --gray-200-text-foreground: black;
   --gray-300: rgb(179, 179, 179);
   --gray-300-text-foreground: black;
   --gray-400: rgb(154, 154, 154);
   --gray-400-text-foreground: #ffffff;

   --light: #ffffff;
   --light-500: #ffffff;
   --light-text-foreground: #000000;
   --light-500-text-foreground: #000000;
   --light-600: rgb(198, 198, 198);
   --light-600-text-foreground: #000000;
   --light-700: rgb(142, 142, 142);
   --light-700-text-foreground: #000000;
   --light-800: rgb(85, 85, 85);
   --light-800-text-foreground: #000000;
   --light-900: rgb(28, 28, 28);
   --light-900-text-foreground: #000000;
   --light-950: rgb(0, 0, 0);
   --light-950-text-foreground: #000000;
   --light-50: rgb(255, 255, 255);
   --light-50-text-foreground: #000000;
   --light-100: rgb(255, 255, 255);
   --light-100-text-foreground: #000000;
   --light-200: rgb(255, 255, 255);
   --light-200-text-foreground: #000000;
   --light-300: rgb(255, 255, 255);
   --light-300-text-foreground: #000000;
   --light-400: rgb(255, 255, 255);
   --light-400-text-foreground: #000000;

   --dark: #000000;
   --dark-500: #000000;
   --dark-text-foreground: #ffffff;
   --dark-500-text-foreground: #ffffff;
   --dark-600: rgb(0, 0, 0);
   --dark-600-text-foreground: #ffffff;
   --dark-700: rgb(0, 0, 0);
   --dark-700-text-foreground: #ffffff;
   --dark-800: rgb(0, 0, 0);
   --dark-800-text-foreground: #ffffff;
   --dark-900: rgb(0, 0, 0);
   --dark-900-text-foreground: #ffffff;
   --dark-950: rgb(0, 0, 0);
   --dark-950-text-foreground: #ffffff;
   --dark-50: rgb(0, 0, 0);
   --dark-50-text-foreground: #ffffff;
   --dark-100: rgb(0, 0, 0);
   --dark-100-text-foreground: #ffffff;
   --dark-200: rgb(0, 0, 0);
   --dark-200-text-foreground: #ffffff;
   --dark-300: rgb(0, 0, 0);
   --dark-300-text-foreground: #ffffff;
   --dark-400: rgb(0, 0, 0);
   --dark-400-text-foreground: #ffffff;

   --success: #51cc48;
   --success-500: #51cc48;
   --success-text-foreground: #ffffff;
   --success-500-text-foreground: #ffffff;
   --success-600: rgb(63, 159, 56);
   --success-600-text-foreground: #ffffff;
   --success-700: rgb(45, 113, 40);
   --success-700-text-foreground: #ffffff;
   --success-800: rgb(27, 68, 24);
   --success-800-text-foreground: #ffffff;
   --success-900: rgb(9, 23, 8);
   --success-900-text-foreground: #ffffff;
   --success-950: rgb(0, 0, 0);
   --success-950-text-foreground: #ffffff;
   --success-50: rgb(154, 255, 137);
   --success-50-text-foreground: #ffffff;
   --success-100: rgb(146, 255, 130);
   --success-100-text-foreground: #ffffff;
   --success-200: rgb(130, 255, 115);
   --success-200-text-foreground: #ffffff;
   --success-300: rgb(113, 255, 101);
   --success-300-text-foreground: #ffffff;
   --success-400: rgb(97, 245, 86);
   --success-400-text-foreground: #ffffff;

   --warning: #ffc46d;
   --warning-500: #ffc46d;
   --warning-text-foreground: #00000;
   --warning-500-text-foreground: #00000;
   --warning-600: rgb(238, 183, 102);
   --warning-600-text-foreground: #00000;
   --warning-700: rgb(221, 170, 94);
   --warning-700-text-foreground: #00000;
   --warning-800: rgb(204, 157, 87);
   --warning-800-text-foreground: #00000;
   --warning-900: rgb(187, 144, 80);
   --warning-900-text-foreground: #00000;
   --warning-950: rgb(179, 137, 76);
   --warning-950-text-foreground: #00000;
   --warning-50: rgb(255, 249, 138);
   --warning-50-text-foreground: #00000;
   --warning-100: rgb(255, 243, 135);
   --warning-100-text-foreground: #00000;
   --warning-200: rgb(255, 231, 129);
   --warning-200-text-foreground: #00000;
   --warning-300: rgb(255, 220, 122);
   --warning-300-text-foreground: #00000;
   --warning-400: rgb(255, 208, 116);
   --warning-400-text-foreground: #00000;

   --error: #F04F44;
   --error-500: #F04F44;
   --error-text-foreground: #ffffff;
   --error-500-text-foreground: #ffffff;
   --error-600: rgb(187, 61, 53);
   --error-600-text-foreground: #ffffff;
   --error-700: rgb(133, 44, 38);
   --error-700-text-foreground: #ffffff;
   --error-800: rgb(80, 26, 23);
   --error-800-text-foreground: #ffffff;
   --error-900: rgb(27, 9, 8);
   --error-900-text-foreground: #ffffff;
   --error-950: rgb(0, 0, 0);
   --error-950-text-foreground: #ffffff;
   --error-50: rgb(255, 150, 129);
   --error-50-text-foreground: #ffffff;
   --error-100: rgb(255, 142, 122);
   --error-100-text-foreground: #ffffff;
   --error-200: rgb(255, 126, 109);
   --error-200-text-foreground: #ffffff;
   --error-300: rgb(255, 111, 95);
   --error-300-text-foreground: #ffffff;
   --error-400: rgb(255, 95, 82);
   --error-400-text-foreground: #ffffff;


--space-xxs: 5px;
--space-xs: 10px;
--space-sm: 20px;
--space-md: 40px;
--space-lg: 80px;
--space-xl: 120px;
--space-2xl: 160px;
--space-3xl: 200px;

}
