// @THEME-MG
.object-fit-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.object-fit-contain{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-mute{
    opacity: 0.7;
}