@use "@/sass/abstracts" as *;



.notifications{
    position: fixed;
    bottom: var(--space-sm);
    right: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    z-index: 200;
}
// Notification center
.notification {
    padding: var(--space-xs) var(--space-sm);
    border-radius: 5px;
    opacity: 0;
    @include transform(translate3d(0, 40px, 0));
    transition: all 300ms var(--transition-basic);
    @include shadow(2px 10px 11px -6px rgba(0, 0, 0, 0.36));
    max-width: 600px;
    z-index: 999;

    &.is-active {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));

        &:after {
            width: 100%;
        }

        &.is-out {
            opacity: 0;
            @include transform(translate3d(0, 40px, 0));
        }
    }

    &:after {
        content: '';
        width: 0%;
        top: 0;
        left: 0;
        height: 6px;
        background-color: var(--primary);
        position: absolute;
        transition: width 4000ms linear;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &--error {
        &:after {
            background-color: var(--error-600);

        }
    }

     &--info {
        background-color: var(--gray-50);
        &:after {
            background-color: var(--gray-200);

        }
    }

    &--warning {
        &:after {
            background-color: var(--warning-600);
        }
    }

    &--success {
        &:after {
            background-color: var(--success-600);
        }
    }
}