@use "@/sass/abstracts" as *;

.card {
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--theme-card-background);
    color: var(--theme-card-foreground);
    &--align-center {
        text-align: center;
    }

    &__image {
        //margin-bottom: var(--space-sm);
        overflow: hidden;
        background-color: var(--primary-600);

        img {
            transition: all 500ms ease-in-out;
            @include transform(scale(1.01));
            border-radius: none;
        }

        &--icon {
            background-color: transparent;

            img {
                width: auto;
                max-width: 100px;
            }
        }
    }
}
.card mark{
    background-color: var(--accent-100);
    border-radius: 5px;
    text-decoration: underline;
}