@use "@/sass/abstracts" as *;

.card-link {
    text-decoration: none;
    cursor: pointer;

    .card__image {//TODO FREDE
        @include hover() {
            img {
                @include transform(scale(1.1));
                opacity: 0.6;
            }
        }
    }
}