@use "@/sass/abstracts" as *;

// Navigation component
.menu {

    --menu-background: var(--header-background);
    --menu-forground: var(--header-forground);

    background-color: var(--menu-background);
    color: var(--menu-forground);
    // When there is no action button, we set the menu full width
    &--full-width {
        .pages {
            width: 100%;
        }
    }

    &__logo {
        img {
            vertical-align: middle;
            transition: all 300ms ease-out;
            max-width: bm(120, 200);
        }
    }


    // Mobile trigger icon
    .trigger-mobile {
        cursor: pointer;
        display: none;
        margin-left: var(--space-xs);

        .line {
            display: block;
            width: 35px;
            height: 2px;
            background-color: var(--menu-forground);
            margin: 5px 0;
            transition: all 300ms var(--transition-basic);
        }
    }

    .pages__container {
        display: flex;
        align-items: center;
    }

    // Main-menu block, Principale page menu of the website
    &__links {
        // Positionning pages in th menu
        display: flex;
        align-items: center;
        //margin-left: var(--space-sm);

        .link {
            &:not(.has-mega-menu){
                position: relative;
            }

            a.on,
            &.on > a {
                //text-decoration: underline;
                color: var(--accent);
            }

            a,
            p {
                text-decoration: none;
            }

            &:last-child {
                padding-right: 0;
            }
            &:focus-within{
                >a,
                p {

                    svg {
                        @include rotate(270);
                    }
                }
            }
            /*
            @include hover() {
                >a {
                    text-decoration: underline;
                    
                }
            }*/

            &.meta-link:first-of-type{
                background-color: red;
            }
            /*
            &.meta-link {
                display: none;
                
                a{
                    border-bottom: none !important;
                    padding: 10px 0 !important;
                }
                @include breakpoint('max-width', $mobile, 'px') {
                    display: block;
                }
            }*/
        }

        .action-btn-mobile {
            display: none;
        }

        // First dropdown only
        >.has-children {

            > a,
            > p {
                display: flex;
                align-items: center;
                gap: 10px;
                > svg {
                    transition: all 300ms ease-out;
                }
            }

            > .childrens {
                padding-top: 15px;
                left: 0;
                top: initial;
                .has-children {

                    svg {
                        transform: rotate(-90deg) !important;
                    }
                }

            }
        }

        // Dropdown menu
        .childrens {
            pointer-events: none;
            opacity: 0;
            @include transform(translateY(var(--space-sm)));
            position: absolute;
            left: 100%;
            top: 0;
            text-align: left;
            width: 200px;
            transition: all 300ms var(--transition-basic);
            .mobile-head {
                display: none;
                align-items: center;
                margin: 0;
                background-color: var(--header-background-variant);
            }

            .link {
                padding: 0;

                &.has-children {
                    svg {
                        @include rotate(0);
                    }
                }

                a,
                p {
                    background-color: var(--gray-50);
                    transition: all 300ms ease-out;
                    display: flex;
                    justify-content: space-between;
                    &:hover {
                        background-color: var(--gray-100);
                    }
                }
            }
        }

        .has-children {
            &:hover,
            &:focus-within {
                >.childrens {
                    pointer-events: initial;
                    opacity: 1;
                    @include transform(translateY(0));
                }
            }
        }
    }
    &__meta-links{
        a{
            padding: 5px 0;
            text-decoration: none;
        }
    }

    @include breakpoint('max-width', $menuSmallDesktop, 'px') {
        .pages__container {
            --announcement: 0px;
            position: absolute;
            top: calc(var(--headerHeigth) + var(--announcement));
            right: 0;
            background-color: var(--menu-background);
            width: 100%;
            height: calc(100vh - var(--headerHeigth));
            overflow-x: hidden;
            overflow-y: scroll;
            display: block;
            //padding: 0 var(--space-sm);
            @include transform(translate3d(100%, 0, 0));
            transition: all 600ms var(--transition-basic);

            .menu__links {
                display: block;
                margin: 0;
                padding: var(--space-sm) 0;

                .link {
                    padding: 0;
                    margin: 0;
                    background-color: transparent;

                    > a:not(.btn),
                    > p {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0;
                        border-bottom: 1px solid var(--gray-100);
                    }

                    // Update font style for mobile menu only.
                    .lm {
                        font-size: rem(25);
                        line-height: rem(25);
                        ;
                        font-style: normal;
                        background-color: transparent;

                        svg {
                            @include rotate(0);
                            margin: 0;
                        }
                    }

                    &.has-children {
                        &.is-visible {
                            > .childrens {
                                @include transform(translate3d(0, 0, 0));
                            }

                        }

                        .childrens {
                            text-align: inherit;
                            width: 100%;
                            position: inherit;
                            display: block;
                            padding: 0;
                            margin: 0;
                            pointer-events: initial;
                            opacity: 1;
                            @include transform(translateY(0));
                            left: 0;
                            padding: 0 10px 0 0;
                            transition: all 600ms var(--transition-basic);

                            .mobile-head {
                                display: flex;
                            }
                        }
                    }
                }

                .action-btn-mobile {
                    text-align: center;
                    display: flex;
                    margin-top: var(--space-sm);
                }
            }

        }

        .trigger-mobile {
            display: block;
        }

        &.is-open {
            .trigger-mobile {
                .line {
                    &:nth-child(1) {
                        @include transform(translate3d(0, 7px, 0) rotate(-45deg));
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        @include transform(translate3d(10px, 0, 0));
                    }

                    &:nth-child(3) {
                        @include transform(translate3d(0, -7px, 0) rotate(45deg));
                    }
                }
            }

            .pages__container {
                @include transform(translate3d(0, 0, 0));
            }

        }

        @include breakpoint('max-width', $mobile, 'px') {
            
            .pages__container {
                .menu__links {
                    text-align: left;
                    padding: 0 0 var(--space-sm) 0;

                    .link {
                        .lm {
                            font-size: rem(16);
                            line-height: rem(18);
                        }
                    }
                }
            }

        }
    }
}