@use "@/sass/abstracts" as *;

#tabs-skip-to-content{
    position: fixed;
    top: 10px;
    left: 10px;
    pointer-events: none;
    &:focus-within{
        pointer-events: visible;
        a{
            @include transform(translateY(0px));
            opacity: 1;
        }
    }
    a{
        display: inline-block;
        padding: var(--space-sm) 30px;
        background-color: var(--gray-200);
        border-radius: 5px;
        box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.32);
        -webkit-box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.32);
        @include transform(translateY(-20px));
        opacity: 0;
    }
}
