@use "@/sass/abstracts" as *;

.copy-clipboard {
    position: relative;
    cursor: pointer;

    .copy-alert {
        position: absolute;
        top: -10px;
        left: 50%;
        transition: all 300ms ease-out;
        @include transform(translateX(-50%));
        opacity: 0;
        right: 0;
        font-size: 12px;
        width: 80px;
        text-align: center;
        background-color: var(--dark);
        padding: 5px;
        border-radius: 5px;
        color: white;
        pointer-events: none;

        i {
            pointer-events: none;
        }

        &.active {
            top: -18px;
            opacity: 1;
        }
    }

    &__content {
        opacity: 0;
        position: absolute;
        z-index: -1;
        width: 1px;
        padding: 0;
    }

    @include hover() {
        color: var(--accent);
    }
}