.component--search {
    .search-result {
        &__title {
            text-align: center;
            margin-bottom: var(--space-sm);
        }

        &__item {
            padding: var(--space-sm) 0;
            border-bottom: solid 1px;

            a {
                display: block;
                text-decoration: none;

                p {

                    margin: 10px 0;
                }
            }
        }
    }
}

.popup--search{
    .recent-search{
        a{
            text-decoration: none;
        }
    }

    .results-loader{
        svg{
            display: none;
        }
    }
    #search-listing {
        a{
            text-decoration: none;
        }
    }
    &.is-searching{
        .results-loader{
            svg{
                display: block;
            }
        }
    }
}